
.title {
    height: 4rem;
    background-color: #5B2C36;
    width: 100%;
    line-height: 4rem;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    text-align: left;
    padding-left: 2rem;
}

.menu {
    height: 3rem;
    background-color: #EBCDD5;
    width: 100%;
}

.item {
    display: inline-block;
    color: #5B2C36;
    font-size: 1rem;
    line-height: 3rem;
    width: 25%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.item:hover {
    background-color: #5B2C36;
    color: white;
}

.main {
    width: 100%;
    line-height: 1.5rem;
    text-align: left;
    padding-left: 1rem;
}

.todolist {
    width: 500px;
    margin: 20px;
    text-align: left;
    padding: 1rem;
    border: 3px solid #EBCDD5;
    border-radius: 10px;
}

.todo_title {
    font-size: 2rem;
    color: #222222;
    font-weight: 300;
    margin: 0.5rem;
}

.inputBox {
    width: 500px;
    height: 50px;
    margin-left: 5px;
}

input[type="text"] {
    width: 400px;
    font-size: 1.1rem;
    color: #5B2C36;
    padding: 5px 10px;
    margin-right: 20px;
    border: none;
    border-bottom: solid 1px #c9c9c9;
    transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
    outline: none;
    border-bottom: solid 2px #5B2C36;
    transition: border 0.3s;
}

button {
    width: 50px;
    color: #5B2C36;
    font-size: 1rem;
    background: rgba(0,0,0,0);
    border: solid 4px #5B2C36;
}
button:hover,
button.hover {
    border-color: #DE413A;
    color: #DE413A;
}

.listBox {
    width: 470px;
    margin-left: 5px;
}

.listBox ul {
    list-style: none;
    padding-left:0px;
}

.listBox ul li {
    height: 25px;
    margin: 5px 0px;
    font-size: 16px;
    font-weight: 300;
    color: #233B5D;
    border-bottom: 1px solid #f1f1f1;
}

.listBox .active{
    text-decoration: line-through;
    color: #bbbbbb;
}
